html, body {
	height: 100%;
	font-family: sans-serif;
}
body {
	margin: 0;
	display: flex;
	justify-content: center;
}
#labels {
	overflow: auto;
	min-width: 250px;
	max-width: 250px;
	border-top: 1px solid #ccc;
	user-select: none;
}
.label {
	padding: 0.2em 0.3em;
	cursor: pointer;
}
.label.active {
	background: lightblue;
}
main, aside {
	display: flex;
	flex-direction: column;
	height: 100%;
}
main {
	width: 800px;
}
aside {
	margin-right: 1em;
}
h1 {
	font-size: 1.8em;
	margin: 0.3em 0;
}
.info {
	padding-bottom: 0.3em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
form {
	margin: 0.5em 0;
}
.result {
	display: block;
	text-decoration: none;
	padding: 0.2em 0;
}
#results {
	padding-top: 1em;
	margin: 0 1em;
	overflow: auto;
}
#search {
	width: 100%;
    border-radius: 30px;
    font-size: 1em;
    box-sizing: border-box;
    padding: 1em 1.5em;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px #ccc;
}
.result:hover {
	background: #f5f5f5;
}
