html, body {
	height: 100%;
	font-family: sans-serif;
}
body {
	margin: 0;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
}
main {
	display: flex;
	flex-direction: column;
	height: 100%;
}
main {
	width: 800px;
}
h1 {
	display: inline;
	font-size: 1.8em;
	margin: 0.3em 0;
	margin-right: 0.5em;
}
h1 a {
	text-decoration: none;
	color: #486380;
}
h1 a:hover {
	text-decoration: underline;
}
h2 {
	font-size: inherit;
	position: sticky;
	top: 0;
	margin: 0;
	font-weight: normal;
	background: #eee;
	padding: 0.1em 0.5em;
}
header {
	display: flex;
	align-items: center;
}
#repo {
	font-weight: bold;
}
.if-loaded {
	display: none;
}
.loaded .if-loaded {
	display: block;
}
.label {
	display: inline-block;
	border: 1px dashed #aaa;
	padding: 0.1em;
	margin-right: 0.5em;
	margin-bottom: 1em;
	cursor: pointer;
	user-select: none;
}
#selectedLabels, #suggestedLabels {
	display: inline-block;
}
#selectedLabels .label {
	border-style: solid;
	background: #d7e8ec;
	border-color: #687f97;
}
.result {
	display: block;
	text-decoration: none;
	padding: 0.3em;
	word-break: break-word;
	color: #0a0a80;
}
#results {
	padding: 0em 1em;
	overflow: auto;
}
#search {
	width: 100%;
    border-radius: 30px;
    font-size: 1em;
    box-sizing: border-box;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px #ccc;
}
.result:hover, .label:not(.active):hover {
	background: #e8f0e9;
}
[role=tablist] {
	display: flex;
}
[role=tab] {
	padding: 0.5em 2em;
	cursor: pointer;
	user-select: none;
	text-align: center;
	border: 1px solid transparent;
	border-bottom: 0;
}
[role=tab][aria-selected=true] {
	border-color: #ccc;
	background: #f5f5f5;
}
nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
nav form {
	margin-right: 1em;
}
@media (max-width: 1000px) {
	header, nav, .form, #labels {
		padding: 0 1em;
	}
	.result {
		padding: 0.5em;
	}
}
@media (max-width: 600px) {
	[role=tablist] {
		width: 100%;
	}
	[role=tab] {
		margin-top: 1em;
		flex-grow: 1;
	}
}
